<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            
            <%= link_to root_path, class: "navbar-brand" do %>
               <%= image_tag "logo_183x50.png", alt: "Ushy Kosher Catering" %>
            <% end %>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <% if current_user %>
                    <%= render 'layouts/admin_nav' %>
                <% end %>
            </ul>
            <ul class="nav navbar-top-links navbar-right">

                <% if current_user %>       
                  <li>
                    <%= link_to destroy_user_session_path, method: :delete do %>
                        <i class="fa fa-sign-out"></i> Log out
                    <% end %>
                  </li>
                <% end %>

            </ul>
        </div>
    </nav>
</div>