<% if !current_page?(root_url) and (current_user.present?) %>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Manage <%= yield(:current_page) %></h2>
    <ol class="breadcrumb">
      <li>
          <%= link_to 'Dashboard', root_path %>
      </li>
      <li class="active">
        <strong><%= yield(:current_page) %></strong>
      </li>
    </ol>
  </div>
</div>
<% end %>